.button {
    width: 225px;
height: 36px;
border-radius: 5px;
cursor: pointer;
border: none;

}

.login {
    background-color: var(--primary-color);
}

.register {
    background-color: var(--primary-color);
}

