.button {
width: 225px;
height: 36px;
border-radius: 5px;
cursor: pointer;
border: none;
background: none;
}
.back{
    position: relative;
    bottom: 30px;
    right: 200px;
    width: 12px;
    height: 18px;
    background-image: url("../../picture/backicon.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.login {
    background-color: var(--primary-color);
}

.signup {
    background-color: var(--primary-color);
}
    

