.wrapper {
  display: flex;
  flex-direction: column;
}
.ListWrapper {
  box-sizing: border-box;
  width: 225px;
  height: 162px;

  border: 1px solid #949494;
  border-radius: 5px;
}
.KcalWrapper {
  box-sizing: border-box;
  width: 225px;
  height: 36px;

  border: 1px solid #949494;
  border-radius: 5px;
}
