.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ListWrapper {
  box-sizing: border-box;
  width: 20vw;
  height: 30vh;

  border: 1px solid #949494;
  border-radius: 5px;
  @media (max-width: 1300px) {
    width: 240px;
  }
  @media (max-width: 1200px) {
    width: 180px;
  }
}
.KcalWrapper {
  box-sizing: border-box;
  width: 20vw;
  height: 7vh;

  border: 1px solid #949494;
  border-radius: 5px;
  @media (max-width: 1300px) {
    width: 240px;
    height: 5vh;
  }
  @media (max-width: 1200px) {
    width: 180px;
  }
}
