.index {
  display: flex; // Use flexbox
  align-items: center; // Center items vertically
  justify-content: center; // Center items horizontally
  padding: 10px;
  border-radius: 42px;
  width: 150px;
  height: 50px;
  box-sizing: border-box;

  img {
    margin-right: 10px; // adjust as needed for spacing
    width: 16.785px;
    height: 12.575px;
    flex-shrink: 0;
  }

  .indextxt {
    font-size: 15px;
    color: #333333;
  }

  &.food {
    position: absolute;
    top: 23vh;
    background-color: #afeb92;
  }

  &.exercise {
    position: absolute;
    top: 60vh;
    background-color: #86baeb;
  }

  &.weight {
    position: absolute;
    top: 60vh;
    left: 20vw;
    background-color: #eb8686;
  }
}

@media (max-width: 1200px) {
  .index {
    height: 20px;

    img {
      margin-right: 10px;
      width: 12.785px;
      height: 8.575px;
    }

    .indextxt {
      font-size: 12px;
    }
  }
}
