.index {
  position: absolute;
  width: 160px;
  height: 46px;
  background: #afeb92;
  border-radius: 42px;
}

.indextxt {
  position: absolute;
  width: 28px;
  height: 17px;
  font-family: 'goorm Sans OTF';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.indexicon {
  position: absolute;
  width: 16.78px;
  height: 12.58px;
}
