.registerinput {
  box-sizing: border-box;
  width: 225px;
  height: 36px;
  border: 1px solid var(--border-primary-color);
  border-radius: 5px;
  font-size: 11px;
  text-indent: 0.5vw;
  outline: none;
}
.logininput {
  box-sizing: border-box;
  width: 225px;
  height: 36px;
  border: 1px solid var(--border-primary-color);
  border-radius: 5px;
  font-size: 11px;
  text-indent: 0.5vw;
  outline: none;
}
.errorInput {
  border-color: var(--error-color);
}

.errorText {
  color: var(--error-color);
  font-size: 11px;
}
.successText {
  color: blue; /* 파란색으로 설정 */
  font-size: 11px;
}

.registerinput {
  box-sizing: border-box;
  width: 225px;
  height: 36px;
  border: 1px solid var(--border-primary-color);
  border-radius: 5px;
  font-size: 11px;
  text-indent: 0.5vw;
  outline: none;
}
.logininput {
  box-sizing: border-box;
  width: 225px;
  height: 36px;
  border: 1px solid var(--border-primary-color);
  border-radius: 5px;
  font-size: 11px;
  text-indent: 0.5vw;
  outline: none;
}
.errorInput {
  border-color: var(--error-color);
}

.errorText {
  color: var(--error-color);
  font-size: 11px;
}
.successText {
  color: blue; /* 파란색으로 설정 */
  font-size: 11px;
}
