.graph-container {
  position: fixed;
  padding: 0px;
  background-color: white;
  border-radius: 8px;
  height: 300px;
  width: 130vw;
  top: 30%;
  left: 45%;

  @media (max-width: 1200px) {
    position: absolute;
    height: 200px;
    width: 140vw;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.chart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.indexdiet {
  position: absolute;
  width: 86px;
  height: 28px;
  border: none;
  background: #afeb92;
  border-radius: 42px;
  left: 55%;
  top: 24%;
  @media (max-width: 1200px) {
    left: 40px;
    top: 850px;
  }
}

.indexex {
  position: absolute;
  width: 86px;
  height: 28px;
  border: none;
  background: #afeb92;
  border-radius: 42px;
  left: 63%;
  top: 24%;
  @media (max-width: 1200px) {
    left: 130px;
    top: 850px;
  }
}

.indexweight {
  position: absolute;
  width: 86px;
  height: 28px;
  border: none;
  background: #afeb92;
  border-radius: 42px;
  left: 71%;
  top: 24%;
  @media (max-width: 1200px) {
    left: 220px;
    top: 850px;
  }
}

.mainback {
  position: relative;
  bottom: 90px;
  right: 200px;
  width: 12px;
  height: 18px;
  background-image: url('../../picture/backicon.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 1200px) {
    bottom: 70px;
    right: 150px;
  }
  @media (max-width: 700px) {
    bottom: 0px;
    right: 120px;
  }
}
