.index-container {
  position: absolute;
  width: 515.18px;
  height: 590px;
  left: 48%;
  top: 22%;
}

.graph-button {
  box-sizing: border-box;
  position: absolute;
  width: 160px;
  height: 46px;
  left: 84%;
  top: 85%;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 5px;

  // 마우스 호버 시 배경색 변경
  &:hover {
    background-color: #d3d3d3; // 회색으로 설정
  }

  @media (max-width: 1200px) {
    width: 140px;
    height: 36px;
    left: 280px;
    top: 1130px;
  }
}

@media (max-width: 1200px) {
  .index-container {
    position: absolute;
    width: 515.18px;
    height: 590px;
    left: 28px;
    top: 670px;
  }
}
@media (max-width: 480px) {
  .index-container {
    position: absolute;
    width: 515.18px;
    height: 590px;
    left: 28px;
    top: 640px;
  }
}
